/* Reglas globales - Se aplicara a todos los elementos del documento */

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.contenedor {
  width: 80%;
  margin: 0 auto;
}

/* Lista Horizontal */
.lista {
  gap: 18px;
  display: flex;
}

.lista-hijo {
  padding: 6px;
  list-style: none;
  border-radius: 5px;
}

.lista-hijo a {
  color: #fff;
  text-decoration: none;
}

.lista-hijo-hover:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.logo-marca {
  display: flex;
  color: #fff;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
}

.logo-marca img {
  width: 40px;
  filter: invert(100%);
}

/* Reglas especificas */

header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../assets/images/portada1.jpg");
}

/* Navbar */
nav {
  width: 100%;
  color: #fff;
  background-color: #3e694a;
}

nav .container {
  width: 80%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
